# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# Editor
.vscode
.idea
*.suo
*.swp

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
